@font-face {
    font-family: 'carbontyperegular';
    src: url('Fonts/carbontype-webfont.woff2') format('woff2'),
         url('Fonts/carbontype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'com4t_fine';
    src: url('Fonts/com4f_rg-webfont.woff2') format('woff2'),
         url('Fonts/com4f_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$titletext:     #ee7777;
$titlehover:    #aa1111;
$headertext:    #000055;