@import 'globals';

#text1	{
	color: red;
}
/*
@font-face	{
	font-family: carbontyperegular;
	src: url(/Assets/Fonts/carbontype.ttf);
}
*/

@font-face {
    font-family: 'carbontyperegular';
    src: url('carbontype-webfont.woff2') format('woff2'),
         url('carbontype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body	{
	display: grid;
	grid-template-columns: 7fr 1fr 1fr 1fr;
	grid-gap: 0;
}

.vertical-section	{
	.section-title-text	{
		font-family: 'carbontyperegular';
		font-size: 36pt;
		color: $headcolour;
		transform: rotate(270deg);
		transform-origin: left top 0;
		text-align: right;
	}
}