@import 'globals';

#text1	{
	color: red;
}
/*
@font-face	{
	font-family: carbontyperegular;
	src: url(/Assets/Fonts/carbontype.ttf);
}
*/


html	{
	height: 100%;
}

body	{
	height: 100%;
	font-family: 'Georgia', serif;

	a	{
		&:link, &:hover, &:active, &:visited	{
			text-decoration: none;
			color: black;
		}
	}
}

h3	{
	font-family: 'com4t_fine';
	font-size: 20pt;
	color: $headertext;
	font-weight: bold;
}

#grid-wrapper	{
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
	transition: grid-template-columns 5s;
	grid-gap: 0;
	background-image: url(/home/cspanw74/Documents/Resume/portf-page/Assets/Images/harry.jpg);
	z-index: -3;
}

.vertical-section	{
	position: relative;
	padding-top: 50px;
	overflow: hidden;
	/*z-index: -2;*/
	/*border: solid 1pt black;*/

	.section-title	{
			position: absolute;
			bottom: 80%;
			right: 80%;
			z-index: 1;
		transform: rotate(270deg);
		transform-origin: right top 0;
		/*float: left;*/
			
		.section-title-text	{
			font-family: 'carbontyperegular';
			font-size: 36pt;
			color: $titletext;
			margin: 0;
		}
	}
}

.content	{
	z-index: 10;
	display: none;
	width: 480px;

	#main 	{
		display: block;
	}
}

#download-button	{
	display: inline-block;
	font-weight: bold;
	color: $headertext;
	background-color: $titletext;
	padding: 2px 8px;
	border-radius: 20%;

	a 	{
		&:link, &:hover, &:active, &:visited	{
			text-decoration: none;
			color: $headertext;
		}
	}
}